{% extends "index.html" %} {% import "macros.html" as macros %} {% block
htmltitle %} {% endblock htmltitle %} {% block body %}
<div class="wrap">
  <img src="/headshot.jpg" class="float" alt="Headshot" />
  <p class="justify-text">
    In the Spring of 2020 I was working in the curatorial office of a beloved
    art museum and by the end of the year I was gearing up to embark on a new
    journey as a junior developer at a fast-growing startup. The onset of a
    global pandemic presented me with an unexpected opportunity to pivot,
    leading me to plunge headfirst into the realm of programming. I enrolled in
    a rigorous full stack coding bootcamp and graduated with my first job offers
    already in hand. Since then, I’ve accumulated substantial on-the-job
    experience in both frontend and backend development, with a primary focus on
    JavaScript frameworks, APIs, and cloud services. These skills have been
    complemented by the foundational knowledge I acquired during my bootcamp
    training.
  </p>
  <p class="justify-text">
    My diverse professional background spans project management, library and
    information science (across public, academic, and archival sectors), film
    production, grant writing, and publishing, with a strong emphasis on
    non-profit work. This breadth of experience has shaped my holistic
    perspective on problem-solving and has honed my adaptability in diverse
    environments. I take pride in my flexibility, my insatiable appetite for
    learning, and my unwavering enthusiasm for new challenges. I especially
    thrive when collaborating on creative solutions with other curious minds.
  </p>
  <p>
    I love hearing about new opportunities, don't hesitate to
    <a href="mailto:Jordan.S.Spencer@gmail.com">reach out</a>.<br />
    Find me on <a href="https://github.com/jsspen/">Github</a>,
    <a href="https://www.linkedin.com/in/jordanspencercbus/">LinkedIn</a>, and
    <a href="https://dev.to/jsspen">DEV</a>.<br />
    Download a copy of my <a href="/resume.pdf">resume</a>.<br />
  </p>

  {{ macros::bottom_menu() }} {{ macros::footer() }}
</div>
{% endblock body %}
