{% extends "index.html" %} {% import "macros.html" as macros %} {% block
htmltitle %} {% endblock htmltitle %} {% block body %}
<div class="wrap">
  <div class="section" id="title"> {% block title %} {% endblock title %} </div>
  <div class="section" id="sections">
    <a href="/projects/code" class="float">code</a>
    <span
      class="subtitle"
      style="font-size: 0.75rem; font-weight: 200; color: #999"
      ><i>code, angular, typescript, python</i></span
    >
    <br />
    <a href="/projects/guides-blogs-docs" class="float">guides/blogs/docs</a>
    <span
      class="subtitle"
      style="font-size: 0.75rem; font-weight: 200; color: #999"
      ><i>documentation, guides</i></span
    >
    <br />
    <br />
    <br />
    <a href="/projects/this-website/" class="float">a note on this website</a>
    <br />
  </div>
  <div class="section" id="content">
    {% block content %} {% endblock content %}
  </div>
  {{ macros::bottom_menu() }} {{ macros::footer() }}
</div>
{% endblock body %}
