{% extends "index.html" %} {% import "macros.html" as macros %}
{% block
  htmltitle %}
{% endblock htmltitle %}
{% block body %}
  <div class="wrap">
    <div class="section" id="title">
      {% block title %}
      {% endblock title %}
    </div>
    <div class="section" id="sections">
      <a href="/projects/js-katas" class="float">js katas</a>
      <span class="subtitle"
            style="font-size: .75rem;
                   font-weight: 200;
                   color: #999"><i>code, javascript</i></span>
      <br />
      <a href="/projects/a-homelab" class="float">a homelab</a>
      <span class="subtitle"
            style="font-size: .75rem;
                   font-weight: 200;
                   color: #999"><i>documentation, guides</i></span>
      <br />
      <a href="/projects/python-projects" class="float">python projects</a>
      <span class="subtitle"
            style="font-size: .75rem;
                   font-weight: 200;
                   color: #999"><i>code, cli programs, python</i></span>
      <br />
      <a href="/projects/foss-ifying-a-phone/" class="float">foss-ifying a phone</a>
      <span class="subtitle"
            style="font-size: .75rem;
                   font-weight: 200;
                   color: #999;
                   padding: 0 0 10px 0"><i>blog, android, open-source software</i></span>
      <br />
      <br>
      <br>
      <a href="/projects/this-website/" class="float">a note on this website</a>
      <br />
    </div>
    <div class="section" id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {{ macros::bottom_menu() }} {{ macros::footer() }}
  </div>
{% endblock body %}
